<!DOCKTYPE html>

    <html>

    <td>


        </a>
    </td>

    <div style="height: 25px; width: 25px; padding: 10px; position: relative; top: 5px; left: 15px; color: #f62009;">

        <a href="vikings.html" target="_self">
        </a>

    </div>

    <body>



        <!-- burada önerilenler kısmı tablosu eklendi-->
        <table>
            <div class="oneriler" id="oneriler">

            </div>
            <div style="left: 175px; top: 250px; position: absolute;">
                <video width="1280" height="720" controls>
                    <source src='Deadpool.2016.mp4' type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">

                </video>
            </div>
            <div style="position: absolute; width: 1280px; height: 225px; background-color:#3c3b3b; top: 1000px; left: 175px; border-radius: 25px;
                                overflow-y: auto;">

            </div>
            <h3>
                <div style="color: aliceblue; position: absolute; top: 200px; left: 250px; width: 200px; height: 25px; background-image: linear-gradient(to right , #03FCE9 , crimson); border-radius: 50px; text-align: center; padding: 5px"
                    class="zoom">
                    <a href="vikings.html" target="_self" class="clickable">EN ÇOK İZLENENLER</a>


                </div>
                <div style="color:aliceblue; position: absolute; top: 200px; left: 725px; width: 200px; height: 25px; background-image: linear-gradient(to right , #03FCE9 , crimson)
                                    ; border-radius: 50px; text-align: center; padding: 5px" class="zoom">
                    <a href="vikings.html" target="_self" class="clickable">İMDB TOP 50</a>

                </div>
                <div style="color:aliceblue; position: absolute; top: 200px; left: 1150px; width: 200px; height: 25px; background-image: linear-gradient(to right , #03FCE9 , crimson)
                                                        ; border-radius: 50px; text-align: center; padding: 5px;"
                    class="zoom">
                    <a href="vikings.html" target="_self" class="clickable">EN SON EKLENENLER</a>

                </div>
            </h3>
        </table>

    </body>



    <head lang="tr">

        <!-- sidebar (soldaki bar) eklendi-->
        <div class="sidenav" id="sidenavBar">
            <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">&CircleTimes; </a>
            <a href="login">GİRİŞ YAP</a>
            <a href="register">KAYIT OL</a>
            <a href="#">BİZE ULAŞIN</a>
            <a href="#">SSS/YARDIM</a>
            <a href="hakkimizda">HAKKIMIZDA</a>

        </div>
        <span class="open" onclick="openNav()">&#9776;</span>
        <script type="text/javascript">

            function openNav ()
            {
                document.getElementById("sidenavBar").style.width = "250px"
            }
            function closeNav ()
            {
                document.getElementById("sidenavBar").style.width = "0px"
            }
        </script>
        <!--arama butonu-->
        <link rel="stylesheet" href="/css/index_style.css" type="text/css">

        <style type="text/css">
            body {
                font-family: "Roboto", sans-serif;
            }
        </style>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div style="position: absolute; left: 1570px;" class="search-main">
            <input type="text" class="tbox-search">
            <a class="btnsearch">
                <i class="fa fa-search">

                </i>
            </a>

        </div>
        <div>
            <a href="DPUFILM">
                <img id="analogo"
                    style="position: absolute; top: 20px; left: 500px; height: 100px; width: 700px; padding: 0px; border-radius: 25px;">
            </a>

        </div>
        <table>
            <div class="rightpanel">

                <a href="#">Aksiyon</a>
                <a href="#">Macera</a>
                <a href="#">Korku</a>
                <a href="#">Bilim Kurgu</a>
                <a href="#">Fantastik</a>
                <a href="#">Animasyon</a>
                <a href="#">Komedi</a>
                <a href="#">Tarih</a>




            </div>


            </div>
        </table>

    </head>



    </html>