<!DOCTYPE html>

<html>

<td>


    </a>
</td>

<div style="height: 25px; width: 25px; padding: 10px; position: relative; top: 5px; left: 15px; color: #f62009;">

    <a href="vikings.html" target="_self">
    </a>

</div>

<body>



    <!-- burada önerilenler kısmı tablosu eklendi-->
    <table>

        <div class="oneriler" id="oneriler">

        </div>
        <div style="position: absolute; left: 200px; top: 150px; ">
            <img src="C:\Users\saruh\Desktop\Okul\İnternet Programlama\Projeler\Resimler\vikings.jpg" id="images"
                class="zoom">
        </div>
        <div style="left: 500px; position: absolute; top: 150px;">
            <img src="C:\Users\saruh\Desktop\Okul\İnternet Programlama\Projeler\Resimler\spider-man-no-way-home-dan-gise-surprizi-1.webp"
                id="images" class="zoom">

        </div>
        <div style="left: 1100px; top: 650px; position: absolute;">
            <img src="C:\Users\saruh\Desktop\Okul\İnternet Programlama\Projeler\Resimler\p_cars3_19643_3ab8aca1.webp"
                id="images" class="zoom">
        </div>
        <div style="left: 800px; top:650px; position: absolute;">
            <img src="C:\Users\saruh\Desktop\Okul\İnternet Programlama\Projeler\Resimler\MV5BZjA0ZjUyMjctMGJkYi00Yjg1LTgwN2MtYmJmNDg4Y2ZiOTBjXkEyXkFqcGdeQXVyMzIyODIwMTQ@._V1_.jpg"
                id="images" class="zoom">
        </div>
        <div style="left: 500px; top:650px; position: absolute;">
            <img src="C:\Users\saruh\Desktop\Okul\İnternet Programlama\Projeler\Resimler\indir.jpg" id="images"
                class="zoom">
        </div>
        <div style="left: 200px; top: 650px; position: absolute;">
            <img src="C:\Users\saruh\Desktop\Okul\İnternet Programlama\Projeler\Resimler\70d11a78e989809e22a5f7a275e6bb2f5011836407edf0d1cad9ab1fcd1c47e2._RI_V_TTW_.jpg"
                id="images" class="zoom">
        </div>
        <div style="left: 1100px; top: 150px; position: absolute;">
            <a href=" DEADPOOL.html">
                <img src="C:\Users\saruh\Desktop\Okul\İnternet Programlama\Projeler\Resimler\MV5BYzE5MjY1ZDgtMTkyNC00MTMyLThhMjAtZGI5OTE1NzFlZGJjXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_FMjpg_UX1000_.jpg"
                    id="images" class="zoom"> </a>

        </div>
        <div style="left: 800px; top:150px; position: absolute;">
            <img src="C:\Users\saruh\Desktop\Okul\İnternet Programlama\Projeler\Resimler\MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg"
                id="images" class="zoom">
        </div>
        <div style="color:aliceblue; position: absolute; top: 200px; left: 1170px; width: 200px; height: 25px; background-image: linear-gradient(to right , #03FCE9 , crimson)
                                                    ; border-radius: 50px; text-align: center; padding: 5px;"
            class="zoom">
            <a href="vikings.html" target="_self" class="clickable">EN SON EKLENENLER</a>

        </div>
        <div style="color:aliceblue; position: absolute; top: 200px; left: 720px; width: 200px; height: 25px; background-image: linear-gradient(to right , #03FCE9 , crimson)
                                ; border-radius: 50px; text-align: center; padding: 5px" class="zoom">
            <a href="vikings.html" target="_self" class="clickable">İMDB TOP 50</a>

        </div>
        <div style="color: aliceblue; position: absolute; top: 200px; left: 270px; width: 200px; height: 25px; background-image: linear-gradient(to right , #03FCE9 , crimson); border-radius: 50px; text-align: center; padding: 5px"
            class="zoom">
            <a href="vikings.html" target="_self" class="clickable">EN ÇOK İZLENENLER</a>


        </div>

    </table>

</body>


<head lang="tr">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--arama butonu-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div style="position: absolute; left: 1570px;" class="search-main">
        <input type="text" class="tbox-search">
        <a class="btnsearch">
            <i class="fa fa-search">

            </i>
        </a>

    </div>

    <!-- sidebar (soldaki bar) eklendi-->
    <div class="sidenav" id="sidenavBar">
        <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">&CircleTimes; </a>
        <a href="login.html">GİRİŞ YAP</a>
        <a href="#">KAYIT OL</a>
        <a href="#">BİZE ULAŞIN</a>
        <a href="#">SSS/YARDIM</a>
        <a href="hakkimizda.html">HAKKIMIZDA</a>

    </div>
    <span class="open" onclick="openNav()">&#9776; </span>
    <script type="text/javascript">

        function openNav ()
        {
            document.getElementById("sidenavBar").style.width = "250px"
        }
        function closeNav ()
        {
            document.getElementById("sidenavBar").style.width = "0px"
        }


    </script>


    <link rel="stylesheet" href="C:\Users\saruh\Desktop\Projeler\css\index_style.css">

    <style type="text/css">
        body {
            font-family: "Roboto", sans-serif;
        }
    </style>

    <div>
        <a href="DPUFILM.html">
            <img src="C:\Users\saruh\Desktop\logolar\DPULOGO3.jpg"
                style="position: absolute; top: 20px; left: 250px; height: 100px; width: 1150px; padding: 0px; border-radius: 25px;">
        </a>

    </div>
    <table>
        <div class="rightpanel">

            <a href="#">Aksiyon</a>
            <a href="#">Macera</a>
            <a href="#">Korku</a>
            <a href="#">Bilim Kurgu</a>
            <a href="#">Fantastik</a>
            <a href="#">Animasyon</a>
            <a href="#">Komedi</a>
            <a href="#">Tarih</a>




        </div>


        </div>
    </table>



</head>



</html>